body{
    padding: 0;
    margin: 0;
}



/* 800 -> ... */
.box{
    font-size: 14px;
    color: white;
    height: 100px;
    background-color: red;
}


.chat{
    display: none;

    width: 40px;
    height: 40px;
    background-color: blue;
}



/* TABLET - 400 - 800 */
@media (max-width: 800px)  {
    .box{
        font-size: 12px;
        background-color: green;
    }

    .chat{
        display: block;
    }
}


/* PHONE - 0 - 400 */
 @media (max-width: 400px)  {
    .box{
      background-color: yellow;
    }

 
}


