body{
    padding: 0;
    margin: 0;
}



/* ... <- 400 MOBILE */
.box{
    font-size: 14px;
    color: white;
    height: 100px;
    background-color: red;
}





/* TABLET - 400 - 800 */
 @media (min-width: 400px)  {
    .box{
      background-color: yellow;
    }
}


/* DESKTOP - 800 ->... */
@media (min-width: 800px)  {
    .box{
        font-size: 12px;
        background-color: green;
    }
}

